<!doctype html>
<html ng-app="produtoModule">
<meta http-equiv=”Content-Type” content=”text/html; charset='utf-8'>
	<head>
		<title>Teste Produto</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="produto.js" charset="utf-8"></script>
	</head>

	<body>
		<div ng-controller="produtoController">
		<h2><p>Jorge de Lima Rocha</p></h2>
		<br>
		
		<h2><p>Todos os End-Points solicitados foram testados via Postman</p></h2>
		<br>
			{{produto}}
		</div>
	</body>
</html>